.locals {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    margin-top: 10rem;
    overflow: hidden;

    .locals__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;

        .local {
            max-width: 320px;
            overflow: hidden;
            margin: 20px;

            p {
                width: 320px;
            }
        }
    }
}

.locals__card {
    display: flex;
    flex-direction: column-reverse;
    max-width: 400px;
    width: 100%;
    min-width: 320px;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    margin: 20px 20px;
}
@media screen and (max-width: 375px) {
    .locals__card {
        margin: 20px 0;
    }
}