.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .opciones_menu{
        display: flex;
        margin-top: 150px;
        justify-content: center;
        flex-wrap: wrap;
        background: #f1f1f1;
        margin-bottom: 2rem;
        a{
            box-shadow: 2px 2px 2px #000;
        }
        a{
            width: 190px;
            height: 150px;
            color: #000;
            text-decoration: none;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #000;
        }
        img{
            width: 50px;
        }
        .plato{
            padding: 20px 50px;
        }
    }
    .burger_menu{
        padding: 20px;
        .menuTittle{
            margin-top: 8rem;
            strong{
                font-size: 4rem;
            }
        }
    }
    .cardsContainer{
        display: flex;
        max-width: 1400px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .card{
            width: 100%;
            max-width: 400px;
            border-radius: 30px;
            background: #e0e0e0;
            box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
            position:inherit;
            margin: 10px;
            img{
                width: 100%;
                border-radius: 30px;
            }
        }
    }
}