$color-header:#beab00;

.poll {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;

    .introduccion_poll {
        margin-bottom: 2rem;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
    }

    span {
        text-align: center;
    }

    .poll_prg {
        border-bottom: 2px solid $color-header;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;

        strong {
            font-size: 1.2rem;
            text-transform: capitalize;
        }

        .poll_prg__container {
            display: flex;
            flex-wrap: wrap;

            .separation {
                display: flex;
                align-items: center;
                width: 250px;
                justify-content: center;
                margin-right: auto;
                margin-left: auto;
                gap: 10px;
            }
        }
    }

    #submit_poll {
        margin: 20px;
    }
}
@media screen and (max-width:1556px){
    .poll{
        margin-top: 10rem;
    }
}
@media screen and (max-width:768px) {
    .poll_prg {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width:877px) {
    .poll {
        margin-top: 6rem;
        text-align: center;
    }
}