@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1 {
  font-size: 2.5em; }

.HERO {
  height: 100vh;
  background: url(../assets/background_hero.png);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: center; }
  .HERO img {
    width: 100%;
    max-width: 600px; }
  .HERO a {
    color: #be9b00;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
    border: 3px solid #be9b00;
    border-radius: 40px;
    padding: 15px; }
    .HERO a:hover {
      background: #be9b00;
      color: #fff;
      transition: .2s; }
  .HERO .txt .btn {
    margin-top: 25px; }
  .HERO h1 {
    font-size: 2.5em;
    font-weight: 700; }

@media screen and (max-width: 1682px) {
  .HERO {
    margin-top: 4rem; } }

@media screen and (max-width: 1582px) {
  .HERO {
    margin-top: 3rem; }
    .HERO h1 {
      font-size: 2rem; } }

@media screen and (width: 375px) {
  .HERO {
    margin-top: 6rem; }
    .HERO .btn {
      margin-bottom: 100px; } }

.INFO {
  background: #e2aa42;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 300px;
  width: 100%;
  padding: 20px 0; }
  .INFO .infoContainer__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px; }
    .INFO .infoContainer__info p {
      text-align: center; }
  .INFO i {
    background: #ffff00;
    padding: 15px;
    font-size: 25px;
    border-radius: 100%; }

.SEPARADOR {
  background: #66543a;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.CONTACT__INFO {
  background: #e2aa42;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 300px;
  align-items: center;
  padding: 20px 0; }
  .CONTACT__INFO .infoContainer__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 254px; }
    .CONTACT__INFO .infoContainer__info i {
      background: #ffff00;
      padding: 15px;
      font-size: 25px;
      border-radius: 100%; }

.CONTACT {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background: url(../assets/background.png);
  min-height: 100vh; }
  .CONTACT strong {
    font-size: 2rem;
    border-bottom: 2px solid #000;
    text-align: center;
    padding: 20px; }
  .CONTACT .contactForm {
    display: flex;
    flex-direction: column;
    width: 40%; }
    .CONTACT .contactForm input {
      border-top: none;
      border-right: none;
      border-left: none;
      margin: 20px 0;
      padding: 25px;
      font-size: 18px;
      background: none; }
    .CONTACT .contactForm button {
      width: max-content;
      border-radius: 40px;
      padding: 20px 30px;
      background: #beab00;
      border: #e2aa42;
      margin-bottom: 50px; }
      .CONTACT .contactForm button:hover {
        background: #66543a;
        transition: .2s;
        color: #fff;
        transform: scale(1.1); }
  @media screen and (max-width: 768px) {
    .CONTACT strong {
      font-size: 1.2rem;
      border: none; }
    .CONTACT .contactForm {
      width: 70%;
      text-align: center; }
      .CONTACT .contactForm input {
        font-size: 12px;
        padding: 15px; }
      .CONTACT .contactForm button {
        padding: 10px;
        font-size: 12px; } }
  @media screen and (max-width: 375px) {
    .CONTACT strong {
      font-size: 1.2rem; }
    .CONTACT .contactForm {
      width: 60%;
      text-align: center; }
      .CONTACT .contactForm input {
        font-size: 12px;
        padding: 15px; }
      .CONTACT .contactForm button {
        padding: 10px;
        font-size: 12px; } }
  @media screen and (max-width: 425px) {
    .CONTACT strong {
      font-size: 1.4rem; }
    .CONTACT .contactForm {
      width: 70%;
      text-align: center; }
      .CONTACT .contactForm input {
        font-size: 14px;
        padding: 18px; }
      .CONTACT .contactForm button {
        padding: 15px;
        font-size: 14px; } }

.DELIVERY {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  background: url(../assets/background__delivery.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 2rem; }

.HEADER {
  background: #beab00;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  width: 100%;
  position: fixed;
  top: 0; }
  .HEADER strong {
    font-size: 2rem;
    color: #fff; }
  .HEADER a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700; }
    .HEADER a:hover {
      color: #fff; }
  .HEADER .nav_menu {
    display: flex;
    width: 30%;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    align-items: center; }
    .HEADER .nav_menu a {
      position: relative; }
      .HEADER .nav_menu a:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        background-color: #fff;
        transition: .3s; }
      .HEADER .nav_menu a:hover:after {
        width: 100%; }

@media screen and (min-width: 769px) {
  .header_mobile {
    display: none; } }

@media screen and (max-width: 768px) {
  .header_desktop {
    display: none; }
  header {
    width: 100%;
    background: #beab00;
    position: fixed;
    top: 0; }
  .header_mobile label {
    margin-right: 10px; }
  a {
    text-decoration: none; }
  .mobile-logo {
    margin-left: 20px; }
  .mobile-logo strong a {
    color: #ffff;
    font-size: 1.6rem; }
  input, label {
    display: block; }
  .nav-mobile {
    height: 100px;
    width: 100%;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .bar-btn {
    font-size: 25px;
    color: #fff;
    cursor: pointer; }
  .nav-menu {
    position: fixed;
    display: block;
    width: 100%;
    top: 100px;
    height: 0vh;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition: all .5s; }
  .nav-menu li {
    display: none;
    line-height: 30px;
    transition: all .5s; }
  .nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600; }
  .nav-menu li a.active, .nav-menu li a:hover {
    color: #fa0000;
    transition: .3s; }
  #check {
    display: none; }
  #check:checked ~ .nav-menu {
    height: 100%;
    position: fixed; }
  #check:checked ~ .nav-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; } }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .menu .opciones_menu {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    flex-wrap: wrap;
    background: #f1f1f1; }
    .menu .opciones_menu a {
      box-shadow: 2px 2px 2px #000; }
    .menu .opciones_menu a {
      width: 190px;
      height: 150px;
      color: #000;
      text-decoration: none;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #000; }
    .menu .opciones_menu img {
      width: 50px; }
    .menu .opciones_menu .plato {
      padding: 20px 50px; }
  .menu .burger_menu {
    padding: 20px; }
  .menu .cardsContainer {
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .menu .cardsContainer .card {
      width: 100%;
      max-width: 400px;
      border-radius: 30px;
      background: #e0e0e0;
      box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
      position: inherit;
      margin: 10px; }
      .menu .cardsContainer .card img {
        width: 100%;
        border-radius: 30px; }

.FOOTER {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 120px;
  color: #f1f1f1;
  background: #be9b00;
  font-weight: 600;
  width: 100%; }
  .FOOTER a {
    color: #f1f1f1;
    text-decoration: none; }
    .FOOTER a:hover {
      color: #fff; }
  .FOOTER .logo {
    font-size: 2rem; }
  .FOOTER .footer__nav nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff; }
    .FOOTER .footer__nav nav a:hover {
      color: red;
      transition: .5s; }
  .FOOTER .footer__legalRedes {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .FOOTER .footer__legalRedes .legal a {
      text-decoration: underline; }
    .FOOTER .footer__legalRedes .redes {
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center; }
    .FOOTER .footer__legalRedes .redes i {
      border: 1px solid #fff;
      padding: 10px;
      border-radius: 50px;
      margin: 10px 0;
      font-size: 1.3rem; }
      .FOOTER .footer__legalRedes .redes i:hover {
        transform: scale(1.1);
        transition: .2s; }

@media screen and (max-width: 768px) {
  .FOOTER {
    display: block;
    text-align: center; }
  .footer__nav nav {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #fff;
    height: 200px;
    justify-content: space-between; }
  .footer__legalRedes {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .redes {
    font-size: 2rem; }
  .redes i {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50px;
    margin: 10px 0; }
  .redes span {
    display: none; } }

.poll {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem; }
  .poll .introduccion_poll {
    margin-bottom: 2rem; }
  .poll h1 {
    text-align: center;
    font-size: 2rem; }
  .poll span {
    text-align: center; }
  .poll .poll_prg {
    margin: 20px;
    gap: 10px;
    border-bottom: 2px solid #000; }
  .poll #submit_poll {
    margin: 20px; }

@media screen and (max-width: 768px) {
  .poll_prg {
    display: flex;
    flex-wrap: wrap;
    align-items: center; } }

@media screen and (max-width: 877px) {
  .poll {
    margin-top: 6rem;
    text-align: center; } }

.locals {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  justify-content: center;
  margin-top: 10rem;
  overflow: hidden; }
  .locals .locals__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto; }
    .locals .locals__container .local {
      max-width: 320px;
      overflow: hidden;
      margin: 20px; }
      .locals .locals__container .local p {
        width: 320px; }

.locals__card {
  display: flex;
  flex-direction: column-reverse;
  max-width: 400px;
  width: 100%;
  min-width: 320px;
  height: 400px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  margin: 20px 20px; }

@media screen and (max-width: 375px) {
  .locals__card {
    margin: 20px 0; } }

.privacy {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto; }

@media screen and (max-width: 1024px) {
  .privacy {
    margin-top: 2rem; } }

@media screen and (max-width: 870px) {
  .privacy {
    margin-top: 4rem; } }

@media screen and (max-width: 810px) {
  .privacy {
    margin-top: 6rem; } }

@media screen and (max-width: 768px) {
  .privacy {
    margin-top: 7rem; } }

* {
  list-style: none;
  font-family: poppins;
  margin: 0;
  padding: 0; }

body {
  background: url(../assets/background.png); }
